.app{
  display: grid;
  place-items: center;
  background-image:url('https://i.pinimg.com/originals/82/45/7d/82457d0a071027df909b897c5136d683.jpg');
  background-repeat: repeat;
  background-position: center;
  height: 100vh;
}

.app_body{
  display: flex;
  background-color:#ebebeb;
  margin-top: -50px;
  height: 90vh;
  width: 90vh ;
  box-shadow: -1px 4px 20px -6px rgba(0,0,0,0);
}