.chat{
    flex: 0.65;
    display: flex;
    flex-direction: column;

    

    
}
.Chat_header{
    padding: 20px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid lightgray;
}
.chat_header_info{
    flex: 1;
    padding-left: 20px;
}

.chat_header_info >h3{
    margin-bottom: 3px;
    font-weight: 20px;
}
.chat_header_info >p{
    color: gray;
}
.Chat_headerRight{
    display: flex;
    justify-content: space-between;
    min-width: 100px
}
.Chat_body{
    flex: 1;
    background-image: url("https://i.pinimg.com/originals/ab/ab/60/abab60f06ab52fa7846593e6ae0c9a0b.png");
    background-repeat: repeat;
    background-position: center;
    padding: 30px;
    overflow: auto;
}
.chat_message{
    position: relative;
    font-size: 16px;
    padding: 10px;
    background-color: aliceblue;
    border-radius: 10px;
    width: fit-content;
    margin-bottom: 30px;
}
.chat_reciver{
    margin-left: auto;
    background-color: #dcf8c6;
}
.chat_user{
    position: absolute;
    top: -15px;
    font-weight: 800;
    font-size: xx-small;
}
.chat_time{
    margin-left: 10px;
    font-size: xx-small;
}

.Chat_footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 62px;
    border-top:1px solid lightgray;
}
.Chat_footer >form{
    flex: 1;
    display: flex;
}
.Chat_footer >form >input{
    flex:1;
    border-radius: 30px;
    padding: 10px;
    border: none;


}
.Chat_footer form >button{
    display: none;
}
.Chat_footer >.MuiSvgIcon-root{
    padding: 10px ;
    color: gray;
}