.chat{
    flex: 0.65;
    display: flex;
    flex-direction: column;
}
.Chat_header{
    background-color: red;
    padding: 20px;
    display: flex;
    align-items: center;
    border-bottom: 8px solid black;
    border-left: 1px solid black;
}
.chat_header_info{
    flex: 1;
    padding-left: 20px;
}

.chat_header_info >h3{
    margin-bottom: 3px;
    font-weight: 20px;
    font: bold;
}
.chat_header_info >p{
    color: rgb(0, 0, 0);
    font-size: x-small;
}
.Chat_headerRight{
    display: flex;
    justify-content: space-between;
    min-width: 100px
}
.Chat_body{
    flex: 1;
    background-color: #ebebeb;
    background-repeat: repeat;
    background-position: center;
    padding: 30px;
    overflow: auto;
}
.chat_message{
    position: relative;
    font-size: 16px;
    padding: 10px;
    color: rgb(0, 0, 0);
    background-color: red;
    border-radius: 10px;
    width: fit-content;
    margin-bottom: 30px;
}
.chat_reciver{
    margin-left: auto;
    color: red;
    background-color:black;
}
.chat_user{
    position: absolute;
    top: -15px;
    font-weight: 800;
    font-size: xx-small;
}
.chat_time{
    margin-left: 10px;
    font-size: xx-small;
}

.Chat_footer{
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 62px;
    border-top:8px solid rgb(255, 0, 0);
}
.Chat_footer >form{
    flex: 1;
    display: flex;
}
.Chat_footer >form >input{
    flex:1;
    border-radius: 30px;
    border: none;
    padding: 10px;
    border: none;
    background-color: #ebebeb;
}
.Chat_footer form >button{
    display: none;
}
.Chat_footer >.MuiSvgIcon-root{
    padding: 10px ;
    color: rgb(255, 0, 0);
}